on:
  release:
    types: [released]

jobs:
  github-releases-to-discord:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: GitHub Releases to Discord
        uses: SethCohen/github-releases-to-discord@v1
        with:
          webhook_url: ${{ secrets.WEBHOOK_URL }}
          color: "2105893"
          username: "Release Changelog"
          avatar_url: "https://avatars.githubusercontent.com/u/239739719?s=200&v=4"
          content: "||@notify/release||"
          footer_title: "Changelog"
          reduce_headings: true